# oh-my-zsh alias sl to ls by default. I really like the locomotive, though.
unalias sl

# Use hub for git with a twist -- if the first argument is an existing branch
# then switch to it.
git() {
  local target_branch=$1

  if [ $# -eq 1 ] && [ -e "$(command git rev-parse --git-dir 2>/dev/null)/refs/heads/$target_branch" ]; then
    command git checkout $target_branch
  else
    hub $*
  fi
}

# Rage quit everywhere.
alias Q=exit

# Force the regular Vim to open multiple files in tabs.
alias vim='vim -p'

# Some systems may not be happy with the $TERM of screen-256colors, so be sane.
alias ssh="TERM=xterm ssh"

# I use vim a lot, so shortcut it to just v.
alias v=vim

# Don't even bother with old vi.
alias vi=vim

# Same goes for rake, grunt, make and lately, docker.
alias r=rake
alias u=grunt
alias m=make
alias d=docker

# Sudo apt-get as it is always what you want.
alias apt-get="sudo apt-get"

# I never learned how to type freakin' killall.
alias kilalll=killall
alias kilall=killall
