if [ "$(uname)" = "Darwin" ] ; then
  # On OSX, /bin/rm can't handle invocations like `rm * -rf`. Instead of
  # installing GNU coretools, lets just work around this case.
  rm() {
    if [ "${@:$#}" = "-rf" ] ; then
      /bin/rm -rf ${@:1:$#}
    else
      /bin/rm $@
    fi
  }
fi
