[user]
  name = Genadi Samokovarov
  email = gsamokovarov@gmail.com

[alias]
  co = checkout
  cp = cherry-pick
  branches = branch -a
  tags = tag -l
  remotes = remote
  sprout = checkout -B
  unstash = stash pop
  forget = checkout -f
  remember = checkout -f
  root = rev-parse --show-toplevel
  back = checkout -
  amend = commit --amend
  track = follow
  state = status -s
  rewind = reset --hard HEAD~1
  uncommit = reset HEAD^
  to = !git branch -a | cut -c 3- | fzf | xargs git checkout
  short = log --graph --pretty=oneline --abbrev-commit

[help]
  autocorrect = 1

[core]
  pager = delta
  filemode = true
  logallrefupdates = true
  whitespace = space-before-tab, trailing-space

[commit]
  cleanup = scissors

[color]
  ui = auto

[branch]
  autosetupmerge = true

[diff]
  renames = copies
  mnemonicprefix = true
  compactionHeuristic = true

[delta]
  features = line-numbers decorations diff-so-fancy
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold black box ul
  file-style = bold black ul
  file-decoration-style = none

[push]
  default = current

[pull]
  rebase = true

[hub]
  protocol = ssh

[browser "gitscm"]
  cmd = sh -c 'gnome-open http://git-scm.com/docs/$(basename $1 .html)' --

[include]
  path = .gitconfig.local

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true

[credential]
  helper = osxkeychain
