[user]
	name = Genadi Samokovarov
	email = gsamokovarov@gmail.com

[alias]
	branches = branch -a
	tags = tag -l
	remotes = remote
	sprout = checkout -b
	switch = checkout
	unstash = stash pop
	forget = checkout -f
	remember = checkout -f
	root = rev-parse --show-toplevel
	back = checkout -
	amend = commit --amend
	track = follow
	state = status -s

[help]
	autocorrect = 1

[core]
	filemode = true
	logallrefupdates = true
	whitespace = space-before-tab, trailing-space

[color]
	ui = auto

[branch]
	autosetupmerge = true

[diff]
	renames = copies
	mnemonicprefix = true

[push]
	default = current

[hub]
	protocol = ssh

[browser "gitscm"]
	cmd = sh -c 'gnome-open http://git-scm.com/docs/$(basename $1 .html)' --

[include]
	path = .gitconfig.local
