URxvt*colorUL:                #859900
URxvt*colorBD:                #268bd2
URxvt*color1:                 #dc322f
URxvt*color9:                 #cb4b16
URxvt*color2:                 #859900
URxvt*color3:                 #b58900
URxvt*color4:                 #268bd2
URxvt*color5:                 #d33682
URxvt*color13:                #6c71c4
URxvt*color6:                 #2aa198

URxvt*background:             #fdf6e3
URxvt*foreground:             #657b83
URxvt*fadeColor:              #fdf6e3
URxvt*cursorColor:            #586e75
URxvt*pointerColorBackground: #93a1a1
URxvt*pointerColorForeground: #586e75
URxvt*scrollColor:            #93a1a1
URxvt*borderColor:            #fdf6e3
URxvt*color0:                 #073642
URxvt*color8:                 #657b83
URxvt*color10:                #93a1a1
URxvt*color11:                #839496
URxvt*color12:                #657b83
URxvt*color14:                #586e75
URxvt*color7:                 #839496
URxvt*color15:                #002b36

URxvt.urgentOnBell: off
URxvt.visualBell: off
URxvt.iso14755: off
URxvt.iso14755_52: off
URxvt.meta8: true
URxvt.depth: 32
URxvt.iconFile: /usr/share/icons/Humanity/apps/128/utilities-terminal.svg

URxvt.internalBorder: 0
URxvt.externalBorder: 0

URxvt.scrollBar: off
URxvt.saveLines: 1024

URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true

URxvt.inheritPixmap: false

URxvt.font:           xft:SourceCodePro for Powerline:pixelsize=18:antialias=true:hinting=true,xft:dejavu sans mono:pixelsize=18:antialias=true:hinting=true
URxvt.boldFont:       xft:SourceCodePro for Powerline:bold:pixelsize=18:antialias=true:hinting=true,xft:dejavu sans mono:bold:pixelsize=18:antialias=true:hinting=true
URxvt.italicFont:     xft:SourceCodePro for Powerline:italic:pixelsize=18:antialias=true:hinting=true,xft:dejavu sans mono:italic:pixelsize=18:antialias=true:hinting=true
URxvt.boldItalicFont: xft:SourceCodePro for Powerline:bold:italic:pixelsize=18:antialias=true:hinting=true,xft:dejavu sans mono:bold:italic:pixelsize=18:antialias=true:hinting=true

! Disable screen printing by overriding the default print pipe.
URxvt.print-pipe: "cat >/dev/null"

URxvt.keysym.Shift-Up:          \033[1;2A
URxvt.keysym.Shift-Down:        \033[1;2B
URxvt.keysym.Shift-Right:       \033[1;2C
URxvt.keysym.Shift-Left:        \033[1;2D
URxvt.keysym.Control-b:         \002
URxvt.keysym.Control-c:         \003
URxvt.keysym.Control-r:         \022
URxvt.keysym.Control-v:         \026
URxvt.keysym.Control-Up:        \033[1;5A
URxvt.keysym.Control-Down:      \033[1;5B
URxvt.keysym.Control-Left:      \033[1;5D
URxvt.keysym.Control-Right:     \033[1;5C
URxvt.keysym.Control-Page_Up:   \033[5;5~
URxvt.keysym.Control-Page_Down: \033[6;5~

! perl-lib: ${HOME}/.urxvt/ext/perls
! perl-ext-common: clipboard,default,matcher,-option-popup,-searchable-scrollback,-selection-popup

URxvt.url-select.button:   1
URxvt.url-select.launcher: x-www-browser

URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

! keysym.Control-Shift-C: perl:clipboard:copy
! keysym.Control-Shift-V: perl:clipboard:paste
